@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}

<div ng-controller="OptionsCtrl">
    <h1>{{title}}</h1>
    <div>Operator is: {{option.snippet}}</div>
    <select ng-model="option"
            ng-change="setOption(option)"
            ng-options="option.name for option in options"></select>
</div>
     
@*<h1>You selected {{ options.selectedOption }}</h1>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <h1>Hello, {{ yourName }}!</h1>
<p>1 + 2 = {{ 1 + 2 }}</p>*@


<br />
<br />
<br />
<br />

<div ng-controller="SelectedOptionCtrl">
    {{getOption().name}}
</div>


<div ng-controller="SelectedOptionCtrl">
    <p>1 + {{ getOption().number}} = {{ getOption().number + 1}} </p>
</div>

